extends ../layouts/common.pug
block content
    h1 New tranfer

    form(method="POST")
        .form-group
        label(for="name") Account
        input#account.form-control(name="accountId", type="text")

        .form-group
        label(for="phone") Amount
        input#phone.form-control(name="amount", type="number")

        button.btn.btn-primary Tranfer